body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a{
    text-decoration: none;
    color: black;
}

.header {
    background: #FAF4F0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: fit-content;

}
   
.menu {
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}


body{
    background-color: black;
    
}

