@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


.fontTitle{
    
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 30px;
    font-weight: normal;
}

.fontBody{
    
    font-family: 'Montserrat', sans-serif ;
    color: #FAF4F0;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;

}

.fontBody2{
    
    font-family: 'Montserrat', sans-serif ;
    color: #FAF4F0;
    font-size: 24px;
    font-weight: 500;

}


body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}


header {
    text-align: center;
    size: 68px;
    background-color: #FAF4F0;
    padding: 10px;
    margin-bottom: 50px;
}

.icone {
    float: left;
    margin: 5px;
}

.icone2 {
    float: right;
    margin: 5px;
}

.col {
  margin-left: 20%;
}
/* 

img{ filter: blur(
    2px
    ) }

*/

